server { listen       80;
    server_name  {{ host_member  }};
    root   /usr/share/nginx/html/member_tutor;

    proxy_intercept_errors on;

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    location /tutor {
        alias /usr/share/nginx/html/member_tutor/tutor;
        try_files $uri $uri/ /tutor/index.html;
        index  index.html index.htm;
    }
    
    location / {
        rewrite ^(.*)$ https://{{ host_www }} permanent;
    }

    location ~ .*\.(htm|html)$ {
	add_header Cache-Control no-cache;
	add_header Pragma no-cache;
    } 
    
#   location /api/member/ {
#   proxy_pass http://sit.api.igix.com:20201/member/;
#   }
#
#   location /api/quiz/ {
#   proxy_pass http://sit.api.igix.com:20401/quiz/;
#   }
#
#   location /api/session/ {
#   proxy_pass http://sit.api.igix.com:20501/session/;
#   }
#
#   location /api/master/ {
#   proxy_pass http://sit.api.igix.com:20101/master/;
#   }


    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html/member_tutor;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}

